# Ambiente virtual
.venv/

# Pasta contendo passo a passo de processos e instalações específicas do projeto
Processos/

# Compilação e Artefatos do CMake / Ninja
build/
.cmake/
CMakeCache.txt
CMakeFiles/
CMakePresets.json.user

# Arquivos locais e caches do VS Code
.vscode/ipch/
.vscode/.cmaketools/
.vscode/compile_commands.json

# Se quiser salvar suas configurações de ambiente, ignore apenas os dados locais:
# .vscode/launch.json (mantenha se quiser compartilhar a config do gravador/debugger)
# .vscode/tasks.json

# Arquivos gerados pelo compilador ARM
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.su

# Arquivos temporários do sistema ou do CubeMX
*.backup

# Ignore build artifacts from external libraries under Bibliotecas-Globais-C
Bibliotecas-Globais-C/*/build/
Bibliotecas-Globais-C/*/bin/
Bibliotecas-Globais-C/*/*.o
Bibliotecas-Globais-C/*/*.obj
Bibliotecas-Globais-C/*/*.d
Bibliotecas-Globais-C/*/*.elf
Bibliotecas-Globais-C/*/*.hex
Bibliotecas-Globais-C/*/*.map
Bibliotecas-Globais-C/*/*.lib
Bibliotecas-Globais-C/*/.vscode/
Bibliotecas-Globais-C/*/.idea/
Bibliotecas-Globais-C/*/*~
Bibliotecas-Globais-C/*/#*#

# modelos de machine learning
JupyterNotebook/modelos_c/*.c